<footer class="text-center fill-width padding-bottom-large">
  <h4 class="head-3 margin-top-large margin-bottom-small">Watch Anywhere, Anytime.</h4>
  <ul class="list-inline">
    <li class="margin-horz-small"><i class="icon-apple-black icon--large"></i></li>
    <li class="margin-horz-small"><i class="icon-android-black icon--large"></i></li>
    <li class="margin-horz-small"><i class="icon-chromecast-black icon--large"></i></li>
    <li class="margin-horz-small"><i class="icon-roku-black icon--xlarge"></i></li>
  </ul>
</footer>
