<footer class="margin-vert-large text-center">
  VHX Demo Site |
  <span class="text-1 margin-right-medium">Demo Site on Github</span>
  <a href="#" class="btn-gray btn--small icon--left icon-github margin-right-small">NodeJS</a>
  <a href="#" class="btn-gray btn--small icon--left icon-github">PHP</a>
</footer>
