<nav class="row margin-top-large padding-horz-large margin-horz-medium">
  <div class="col small-1-1 text-center">
    <span class="head-3 block margin-bottom-xsmall">This site is powered by the VHX API. Want to build your own?</span>
    <span class="inline margin-right-xsmall">Get started with our <a href="http://dev.vhx.tv">Developer Docs</a>, or see the demo on Github</span>
    <a href="https://github.com/vhx/vhx-node-demo" target="_blank" class="btn-yellow btn--small icon--left icon-github-white icon--small margin-right-small">NodeJS</a>
    <a href="https://github.com/vhx/vhx-node-php" target="_blank" class="btn-yellow btn--small icon--left icon-github-white icon--small margin-right-small">PHP</a>
  </div>
</nav>
