<nav class="row margin-top-large padding-horz-large margin-horz-medium">
  <div class="col small-1-1 text-center">
    <span class="head-3 margin-right-medium">View the Demo Site on Github</span>
    <a href="https://github.com/vhx/vhx-node-demo" target="_blank" class="btn-yellow btn--small icon--left icon-github-white icon--small margin-right-small">NodeJS</a>
  </div>
</nav>
