<html>
<head>
  <title>Wintergarten: A Taste of Cinema History</title>
  <link rel="stylesheet" type="text/css" href="/wintergarten.css">

  <script src="https://use.typekit.net/{{ config.typekit_id }}.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>
<body>
  {{> (lookup . 'yield') }}
</body>
</html>
