<html>
<head>
  <title>Wintergarten: A Taste of Cinema History</title>
  <link rel="stylesheet" type="text/css" href="/wintergarten.min.css">
  <link rel="stylesheet" type="text/css" href="/index.css">
  <link rel="shortcut icon" href="/favicon.png" type="image/png">
  <script src="https://use.typekit.net/{{ config.typekit_id }}.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>
<body>

  <div data-component="layout" class="pos-relative overflow-hidden">
    {{> _shared/header }}
    {{> (lookup . 'yield') }}
  </div>

  {{#if hasFooter}}
    {{> _shared/footer }}
  {{/if}}

  {{#if hasModals}}
    <div class="modals">
      {{> modals/join }}
      {{> modals/login }}
    </div>
  {{/if}}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="/wintergarten.js"></script>

  <script type="text/javascript">
    adroll_adv_id = "DI6HO4UDKZHP5HQH6UL5IB";
    adroll_pix_id = "HYRPFE2GR5FLHLKMGVVYUB";
    (function () {
    var _onload = function(){
    if (document.readyState && !/loaded|complete/.test(document.readyState)){setTimeout(_onload, 10);return}
    if (!window.__adroll_loaded){__adroll_loaded=true;setTimeout(_onload, 50);return}
    var scr = document.createElement("script");
    var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
    scr.setAttribute('async', 'true');
    scr.type = "text/javascript";
    scr.src = host + "/j/roundtrip.js";
    ((document.getElementsByTagName('head') || [null])[0] ||
    document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
    };
    if (window.addEventListener) {window.addEventListener('load', _onload, false);}
    else {window.attachEvent('onload', _onload)}
    }());
  </script>
</body>
</html>
