<header class="fill-width ratio ratio--5-2" data-component="banner">
  <img src="/bg_camera.jpg">
  <div class="pos-absolute bg-maroon-transparent fill-width fill-height pos-top pos-left padding-top-xxlarge text-center row">
    <div class="col small-centered small-3-4 medium-2-3 large-1-2 xlarge-1-3">
      <h1 class="head-1 text--white margin-vert-large">A Taste of Cinema History</h1>
      <div class="head-2 text--white">
        <p class="margin-bottom-medium hide-for-medium-below">We are indebted to the early pioneers and innovators of the moving image.</p>
        <p>Welcome to Wintergarten, named after the first public movie theater in history — a place to be inspired by filmmakers from the early days of cinema.</p>
      </div>
    </div>
  </div>
</header>

{{> _shared/github }}

<section data-component="collections" class="padding-large">
  {{#each collections}}
    <h2 class="margin-left-medium padding-bottom-small head-2 border border--bottom">{{ name }}</h2>
    <ul class="row padding-bottom-large" data-id="{{ id }}">
      {{#each items}}
      <li class="col small-1-1 medium-1-2 large-1-4 padding-medium" data-component="item">
        <h3 class="head-3 margin-bottom-small truncate">...</h3>
        <span class="bg-maroon-transparent ratio ratio--16-9" {{#unless ../../logged_in}}data-modal-open="join"{{/unless}}>
        </span>
      </li>
      {{/each}}
    </ul>
  {{/each}}
</section>
