/* .....................................
  Colors - Grays
..................................... */
$white: #ffffff;
$white-transparent: rgba(255, 255, 255, .7);

$black: #000000;
$black-transparent: rgba(0, 0, 0, .7);

$gray-1: #F7F8F9;
$gray-2: #F0F2F4;
$gray-3: #D7DDE1;
$gray-4: #AFBCC3;
$gray-5: #869AA5;
$gray-6: #5E7887;
$gray-7: #375667;
$gray-8: #233741;

/* .....................................
  Colors - Teals
..................................... */
$teal-1: #F2FBFB;
$teal-2: #22B9B0;
$teal-3: #149A97;

/* .....................................
  Colors - Red
..................................... */
$red: #D3104A;

/* .....................................
  Colors - Navy
..................................... */
$navy: #00142B;
$navy-transparent: rgba(0, 20, 43, .5);

/* .....................................
  Colors - Brand Palette
..................................... */
$vhx-orange: #D06B5E;
$vhx-debian: #BA0F45;
$vhx-purple: #783479;
$vhx-currant: #2E064A;
$vhx-blue: #0F4E7B;
$vhx-teal: #149A97;
$vhx-green: #9DBB36;
$vhx-yellow: #FFB567;

/* .....................................
  Colors - External Palette
..................................... */
// https://toolbelt.pixelapse.com/color/
$facebook-blue: #3B5999;
$twitter-blue: #55ACEE;
$tumblr-blue: #34465D;
$paypal-blue: #00457C;
$roku-purple: #662C91;

/*......................................
  Box Shadow Settings
......................................*/

$default-shadow: 0 0 5px 0;

// import from core.scss
/* .....................................
  Fonts
..................................... */
$font-default: "Helvetica", "Arial", sans-serif;
$font-helvetica: "Helvetica", "Arial", sans-serif;
$font-brandon: 'brandon-grotesque-n1', 'brandon-grotesque', 'Brandon Grotesque', sans-serif;
$font-gothic: "alternate-gothic-no-3-d-n4","alternate-gothic-no-3-d",sans-serif;

/* .....................................
  Sets
..................................... */
$sizes: 'xsmall', 'small', 'medium', 'large', 'xlarge', 'xxlarge';
$spacing_types: 'margin', 'padding';
$positions: 'top', 'left', 'bottom', 'right';

/* .....................................
  Media Query Ranges
..................................... */
$small-range: (0em, 40em);
$smedium-range: (40.063em, 54em);
$medium-range: (40.063em, 64em);
$large-range: (64.063em, 90em);
$xlarge-range: (90.063em, 120em);
$xxlarge-range: (120.063em);

$screen: "only screen";

$landscape: "#{$screen} and (orientation: landscape)";
$portrait: "#{$screen} and (orientation: portrait)";

$small-up: $screen;
$small-only: "#{$screen} and (max-width: #{upper-bound($small-range)})";

$smedium-up: "#{$screen} and (min-width:#{lower-bound($medium-range)})";
$smedium-only: "#{$screen} and (min-width:#{lower-bound($medium-range)}) and (max-width:#{upper-bound($medium-range)})";

$medium-up: "#{$screen} and (min-width:#{lower-bound($medium-range)})";
$medium-only: "#{$screen} and (min-width:#{lower-bound($medium-range)}) and (max-width:#{upper-bound($medium-range)})";

$large-up: "#{$screen} and (min-width:#{lower-bound($large-range)})";
$large-only: "#{$screen} and (min-width:#{lower-bound($large-range)}) and (max-width:#{upper-bound($large-range)})";

$xlarge-up: "#{$screen} and (min-width:#{lower-bound($xlarge-range)})";
$xlarge-only: "#{$screen} and (min-width:#{lower-bound($xlarge-range)}) and (max-width:#{upper-bound($xlarge-range)})";

$xxlarge-up: "#{$screen} and (min-width:#{lower-bound($xxlarge-range)})";
$xxlarge-only: "#{$screen} and (min-width:#{lower-bound($xxlarge-range)}) and (max-width:#{upper-bound($xxlarge-range)})";

// imported from forms.scss

$field-height: 40px;

// imported from headers.. To note, refactor header mixins to modify the icon names.

/*.....................................
  HEADERS MIXINS
......................................*/

/* sizes
......................................*/

$icon-header-xsmall: 1;
$icon-header-small: 2;
$icon-header-medium: 3;
$icon-header-large: 4;

// xsmall small medium large
$icon-size: 13px 15px 18px 30px;

$icon-padding-right:      0px 26px 40px 63px;
$icon-padding-left:       0px 27px 40px 63px;
$icon-bg-vert-pos:        0px 7px 12px 18px;
$icon-bg-horz-left-pos:   0px 10px 19px 29px;
$icon-bg-horz-right-pos:  0px 8px 18px 30px;

/*.....................................
  Icon Sizes
......................................*/

$icon-xxsmall: 10px;
$icon-xsmall: 15px;
$icon-small: 25px;
$icon-medium: 35px;
$icon-large: 45px;
$icon-xlarge: 55px;
$icon-xxlarge: 65px;
